<div class="modal-header">
  <h3>Close item</h3>
</div>

<div class="modal-body">

  <h6>Selected item has open subtasks/events. Are you sure you want to close it?</h6>

  <!--title-->
  <div class="form-group row">
    <label for="title" class="label col-sm-1 col-form-label">Title</label>
    <div id="title" class="form-control align-self-stretch">
      {{entry.title}}
    </div>
  </div>

</div>

<div class="modal-footer">
  <div class="float-right">
    <button class="btn btn-danger mr-1" (click)="closeEntry()">Close</button>
    <button class="btn btn-secondary ml-1" (click)="cancelClose()">Cancel</button>
  </div>
</div>
